<!-- footer.tmpl -->
{{ define "footer" }}
  {{ if .ShowBuild -}}
  <div class="footer">
    <div class="message">
      {{ .Version.id }}
      <span class="owner">
        {{- template "version" . }}
      </span>
    </div>
  </div>
  {{ end }}
  <script src="/assets/wall-copy.js"></script>
  </body>
</html>
{{ end }}
