<!-- footer.tmpl -->
{{ define "footer" }}
  {{ if .ShowBuild -}}
  <div class="footer">
    <div class="message">
      {{ .Version.id }}
      <span class="owner">
        {{- template "version" . }}
      </span>
    </div>
  </div>
  {{ end }}
  <script src="/assets/wall-config.js"></script>
  <script src="/assets/wall-image.js"></script>
  <script src="/assets/wall-viewer.js"></script>
  <script src="/assets/wall-drawing.js"></script>
  <script src="/assets/wall-text.js"></script>
  <script src="/assets/wall-layers.js"></script>
  <script src="/assets/wall-watermark.js"></script>
  <script src="/assets/wall-copy.js"></script>
  </body>
</html>
{{ end }}
