<!-- header.tmpl -->
{{ define "header" -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <meta name="description" content="{{ .Version.id }}-{{ .Version.version }}">
    <title>{{ .Index.Title }}</title>
    {{ if .Index.CSP }} {{- template "csp" . -}} {{ end }}
    {{ if .Theme -}}
    <link href="{{ .Paths.Assets }}/style.css"
           rel="stylesheet"
          type="text/css">
    <style>
      {{ template "theme" . }}
    </style>
    {{ end }}
  </head>
  <body>
{{ end }}
