<!-- wall.tmpl -->
{{ define "wall" }}
  <div class="box">
    <form action="{{ .Paths.Wall }}"
         enctype="application/x-www-form-urlencoded"
              id="wallForm"
          method="post">
      <textarea class="wallContent"
                 form="wallForm"
                   id="wallContent"
            maxlength="{{ .Limit.WallLimits.LengthChars }}"
                 name="wall"
                title="add or edit content (select to copy)"
                style="cursor: pointer; width: 100%; height: 60vh; display: block; box-sizing: border-box;">
      {{- .Storage.WallContent -}}
      </textarea>
      <br>
      {{ if .Auth.Require.Wall }} {{ template "auth" . }} {{ end }}
      <input class="selectPost"
             title="save contents"
              type="submit"
             value="save">
    </form>
    <form action="{{ .Paths.Wall }}"
          method="post"
           style="display:inline;">
      <input type="hidden" name="clear" value="true">
      <button class="selectClear" {{ if not .Storage.WallContent }} disabled {{ end }}
              title="clear wall"
               type="submit">clear</button>
    </form>
    <form action="{{ .Paths.Wall }}"
          method="get"
           style="display:inline;">
      <input type="hidden" name="download" value="all">
      <button class="selectDownload" {{ if not .Storage.WallContent }} disabled {{ end }}
              title="download wall"
               type="submit">download</button>
    </form>
  </div>
{{ end }}
